.app-header
  flex: 0 0 auto
  color: $secondary-colour
  background: $primary-colour url("../images/zooniverse-icon-web-white-small.png") no-repeat right 
  background-size: contain

  .title
    display: inline-block
    padding: 0 0.5em
    font-size: 1.2em

  .link
    display: inline-block
    margin: 10px
    padding: 10px
    color: $secondary-colour
    text-decoration: none
    border-radius: 3px
    
    &.active
    &:hover
      color: $primary-colour
      background: $secondary-colour
      
