.map
  flex: 1 1 auto
  overflow: hidden
  display: flex
  flex-direction: column
  
  .map-visuals
    margin: 0 auto
    width: 100%
    //height: 500px
    flex: 1 1 auto

  .map-controls
    flex: 0 0 auto
    margin: 0 auto
    width: 100%
    
    > div
      border-bottom: 1px solid $tertiary-colour
    
    .map-controls-summary
      background: $primary-colour
      color: $secondary-colour
      text-align: center
      padding: 1em
    
    .map-controls-section
      display: flex
      flex-direction: row
      flex-wrap: wrap
      justify-content: center
      max-height: 15vh
      overflow: auto
    
      label
        cursor: pointer
        flex: 0 0 auto
        padding: 0.25em
        margin: 0.25em
        border-radius: 0.5em
        border: 1px solid $primary-colour
        color: $tertiary-colour
        background: $secondary-colour
        width: 100%;
        max-width: 12em
        text-align: center
        
        &.selected
          color: $secondary-colour
          background: $primary-colour
        
        input[type=checkbox]
          display: none

.fix-map-height
  > div
    height: 100%

.leaflet-clickable
  cursor: pointer

.leaflet-control.btn
    line-height: 2em
    cursor: pointer
