.map
  flex: 1 1 auto
  overflow: hidden
  display: flex
  flex-direction: column
  
  .map-visuals
    margin: 0 auto
    width: 100%
    //height: 500px
    flex: 1 1 auto

  .map-controls
    flex: 0 0 auto
    margin: 0 auto
    width: 100%
    background: $primary-colour
    color: $secondary-colour
    padding: 1em
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: center
    max-height: 20vh
    overflow: auto
    
    label
      cursor: pointer
      flex: 0 0 auto
      padding: 0.25em
      margin: 0.25em
      border-radius: 0.5em
      border: 1px solid $secondary-colour
      width: 100%;
      max-width: 12em;

.fix-map-height
  > div
    height: 100%

.leaflet-clickable
  cursor: pointer

.leaflet-control.btn
    line-height: 2em
    cursor: pointer
