$primary-colour = #c33
$secondary-colour = #eee
$tertiary-colour = #333

*, *:before, *:after
  box-sizing: border-box

:root
  font-family: Helvetica, sans-serif
  color: $tertiary-colour
  background: $secondary-colour

a
  color: $primary-colour

html
body
  margin: 0
  padding: 0
  width: 100%
  height: 100%
